RewriteEngine On

# --- English 404’s (ISO /en/ path) ---
# If an /en/ URL does not exist, rewrite it to /en/404.html and send a 404 status
RewriteCond %{REQUEST_URI}   ^/en/
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule ^en/.*$  /en/404.html  [L,R=404]

# --- Default 404 for all other URLs ---
ErrorDocument 404 /404.html