/*---------------------------------------------------------------------
    In this CSS file you will find the style for the about us page.
---------------------------------------------------------------------*/

/* Here you can import all stylesheets */
@import 'main.css';
@import 'header.css';
@import 'footer.css';


/*--------------------------------------------------
    CSS for the title and story
---------------------------------------------------*/
.aboutUsHeader {
    text-align: center;
}

.ourStory {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.ourStory figure {
    position: relative;
    height: 240px;
    overflow: hidden;

    --child-width: 100vw;
    width: var(--child-width);
}

.ourStory figure img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
}

.ourStory div p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------
    CSS for the reasons to choose for Vita Cargo
---------------------------------------------------*/
.reasons {
    width: fit-content;
}

.reasons-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: revert;
    /* padding-inline-start: 8%; */
}

.reasons-list li {
    display: list-item;
    list-style: disc;
    list-style-position: outside;
}

.reasons div p {
    margin-top: 1.25rem;
    font-style: oblique;
    font-weight: bold;
}

.reasons div p a {
    font-weight: bold;
}

.reasons figure {
    display: none;
}


/*--------------------------------------------------
    CSS for the mission and vision pieces
---------------------------------------------------*/
.missionVision {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
}

.missionVision-card1, .missionVision-card2 {
    padding: 1.25rem 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 12px 4px rgb(0 0 0 / 25%);
    text-align: center;
    flex-basis: 100%;
    max-width: 500px;
}

.missionVision-card1 h3,
.missionVision-card2 h3,
.missionVision-card1 p,
.missionVision-card2 p {
    color: #FFF;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.missionVision-card1 {
    background: var(--primary);
}

.missionVision-card2 {
    background: var(--forestGreen);
}


/*--------------------------------------------------
    CSS for the core values
---------------------------------------------------*/
.values {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.values-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.5rem;
}


/*--------------------------------------------------
    CSS for the call to action for contact
---------------------------------------------------*/
.customerAction {
    background-color: #D8E7F8;
    --child-width: 100vw;
    margin-left: calc(-.5 * var(--child-width) + 50%);
    width: var(--child-width);
    margin-bottom: 2rem;
}

.actionContent {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


/*--------------------------------------------------
    The breakpoints
---------------------------------------------------*/

/* Intermediate version of mobile and tablet (480px) */
@media screen and (min-width: 480px) {
    /* The story */
    .ourStory {
        gap: 1.75rem;
    }

    .ourStory figure {
        height: 264px;
    }
    /*----------------------------------------*/

    /* The reasons */
    .reasons div p {
        margin-top: 1.5rem;
    }
    /*----------------------------------------*/

    /* The mission and vision pieces */
    .missionVision {
        gap: 1.75rem;
    }
    /*----------------------------------------*/

    /* The core values */
    .values-list {
        gap: 1.5rem;
        margin-top: 1.75rem;
    }
    /*----------------------------------------*/

    /* The call to action for contact */
    .customerAction {
        margin-bottom: 2.5rem;
    }

    .actionContent {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
}

/* Tablet version (768px) */
@media screen and (min-width: 768px) {
    /* The story */
    .ourStory {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 2.125rem;
    }

    .ourStory figure {
        flex: 1;
        max-width: 50%;
        height: auto;
        border-radius: 24px;
    }

    .ourStory figure img {
        position: relative;
        display: block;
        object-position: 83% 50%;
    }

    .ourStory div {
        flex: 1;
        max-width: 50%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    /*----------------------------------------*/

    /* The reasons */
    .reasons-list {
        gap: 1rem;
    }

    .reasons div p {
        margin-top: 1.75rem;
    }
    /*----------------------------------------*/

    /* The mission and vision pieces */
    .missionVision {
        flex-wrap: nowrap;
        gap: 2.125rem;
    }

    .missionVision-card1, .missionVision-card2 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        flex-basis: 50%;
    }
    /*----------------------------------------*/

    /* The core values */
    .values-list {
        gap: 1.75rem;
        margin-top: 2.125rem;
    }
    /*----------------------------------------*/

    /* The call to action for contact */
    .customerAction {
        margin-bottom: 3.375rem;
    }

    .actionContent {
        display: grid;
        align-items: center;
        gap: 2.125rem;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2.125rem;
        padding-bottom: 2.125rem;
    }

    .actionText {
        grid-column: 1;
        max-width: 675px;
    }

    .actionContent a {
        grid-column: 2;
    }

    button.primary {
        margin-top: 0;
    }
}

/* Laptop version (1024px) */
@media screen and (min-width: 1024px) {
    /* The story */
    .ourStory {
        gap: 2.5rem;
    }

    .ourStory figure img {
        object-position: 85% 50%;
    }

    .ourStory div {
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
    }
    /*----------------------------------------*/

    /* The reasons */
    .reasons {
        display: grid;
        width: 100%;
        align-items: center;
        gap: 2.5rem;
        justify-content: space-between;
    }

    .reasons div {
        grid-column: 1;
    }

    .reasons figure {
        grid-column: 2;
        display: block;
        border-radius: 24px;
        overflow: hidden;
        height: 100%;
        width: 100%;
        max-width: 675px;
    }

    .reasons figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    /*----------------------------------------*/

    /* The mission and vision pieces */
    .missionVision {
        gap: 2.5rem;
    }
    /*----------------------------------------*/

    /* The core values */
    .values-list {
        gap: 2rem;
        margin-top: 2.5rem;
    }
    /*----------------------------------------*/

    /* The call to action for contact */
    .customerAction {
        height: 100%;
        width: 100%;
        --child-width: 100%;
        margin-left: auto;

        border-radius: 16px;
        margin-bottom: 4rem;
    }

    .actionContent {
        gap: 2.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .actionText {
        max-width: 700px;
    }

    .sectionBG {
        padding-left: 32px;
        padding-right: 32px;
    }
}

/* Larger laptop version (1280px) */
@media screen and (min-width: 1280PX) {
    /* The story */
    .ourStory {
        gap: 3rem;
    }

    .ourStory figure img {
        object-position: 88% 50%;
    }

    .ourStory div {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    /*----------------------------------------*/

    /* The reasons */
    .reasons {
        gap: 3rem;
    }
    /*----------------------------------------*/

    /* The mission and vision pieces */
    .missionVision {
        gap: 3rem;
    }
    /*----------------------------------------*/

    /* The core values */
    .values-list {
        gap: 2.25rem;
        margin-top: 3rem;
    }
    /*----------------------------------------*/

    /* The call to action for contact */
    .customerAction {
        margin-bottom: 4.5rem;
    }

    .actionContent {
        gap: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .sectionBG {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Intermediate version of laptop and desktop (1600px) */
@media screen and (min-width: 1600PX) {
    /* The story */
    .ourStory {
        gap: 3.5rem;
    }

    .ourStory figure img {
        object-position: 92% 50%;
    }

    .ourStory div {
        margin-top: 2.25rem;
        margin-bottom: 2.25rem;
    }
    /*----------------------------------------*/

    /* The reasons */
    .reasons {
        gap: 3.5rem;
    }
    /*----------------------------------------*/

    /* The mission and vision pieces */
    .missionVision {
        gap: 3.5rem;
    }
    /*----------------------------------------*/

    /* The core values */
    .values-list {
        gap: 2.5rem;
        margin-top: 3.5rem;
    }
    /*----------------------------------------*/

    /* The call to action for contact */
    .customerAction {
        margin-bottom: 5rem;
    }

    .actionContent {
        gap: 3.5rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    .actionText {
        max-width: 725px;
    }
}

/* Desktop version (1920px) */
@media screen and (min-width: 1920PX) {
    /* The story */
    .ourStory {
        gap: 4rem;
    }

    .ourStory figure img {
        object-position: 96% 50%;
    }

    .ourStory div {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    /*----------------------------------------*/

    /* The reasons */
    .reasons {
        gap: 4rem;
    }
    /*----------------------------------------*/

    /* The mission and vision pieces */
    .missionVision {
        gap: 4rem;
    }
    /*----------------------------------------*/

    /* The core values */
    .values-list {
        gap: 2.75rem;
        margin-top: 4rem;
    }
    /*----------------------------------------*/

    /* The call to action for contact */
    .customerAction {
        margin-bottom: 5.5rem;
    }

    .actionContent {
        gap: 4rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}