/*--------------------------------------------------------------------------------------
    In this CSS file you will find the style needed for the header on each page
---------------------------------------------------------------------------------------*/
/* The size, color and position of the header are determined here */
header {
    background-color: var(--secondary);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* This activates when the hamburger menu is active */
header.act {
    position: static;
}

.headerChild {
    height: 100%;
}

/* The position and size of the logo */
a.logo {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 16px;
    width: fit-content;
    height: 60px;
    z-index: 101;
}

a.logo img {
    width: auto;
    height: 40px;
}

a.logo.act {
    position: fixed;
    z-index: 101;
}


/*--------------------------------------------------
    The hamburger menu button
---------------------------------------------------*/
.menuBtn {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 101;
}

/* The lines that form the hamburger menu */
.menuBtn > span {
    background-color: var(--spaceCadet);
    border-radius: 1px;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    transition: height 100ms;
}

.menuBtn > span:after,
.menuBtn > span:before {
    content: '';
    background-color: var(--spaceCadet);
    border-radius: 1px;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    transition: all 200ms;
}

.menuBtn > span:after {
    top: -8px;
}

.menuBtn > span:before {
    bottom: -8px;
}

/* This activates when the hamburger menu is active */
.menuBtn.act > span {
    height: 0;
}

.menuBtn.act > span:after,
.menuBtn.act > span:before {
    background-color: var(--spaceCadet);
    top: 1px;
}

.menuBtn.act > span:after {
    transform: rotate(45deg);
}

.menuBtn.act > span:before {
    transform: rotate(-45deg);
}


/*--------------------------------------------------
    Main menu block
---------------------------------------------------*/
.mainMenu {
    background-color: var(--secondary);
    position: absolute;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    opacity: 0;
    transition: all 400ms linear;
    transform: translate(0px, -10px);
}

/* This activates when the hamburger menu is active */
.mainMenu.act {
    position: fixed;
    opacity: 1;
    transform: scale(1);
    overflow-y: scroll;
    display: block;
}

.mainMenu.act ul li {
    opacity: 1;
    transform: translateX(0);
}

/* The position of the menu items */
.mainMenu ul.nav {
    top: 0;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* The animation on the menu items */
.mainMenu li {
    padding: 12px 0;
    transition: all 400ms 510ms;
    opacity: 0;
}

/* If submenu items are added, the position is determined here */
/* ul.subNav {
    margin-bottom: 6px;
}

ul.subNav li {
    padding: 6px 0;
}

ul.subNav li.first {
    padding-top: 0px;
} */


/* The layout of the main menu items in normal state */
a.nav-item {
    color: var(--battleshipGray);
    fill: var(--battleshipGray);
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
}

/* The layout of the main menu items when you hover over them */
a.nav-item:hover {
    color: var(--primary);
    fill: var(--primary);
    cursor: pointer;
}

/* The layout of the main menu items when active */
#selectedMain {
    color: var(--primary);
    font-weight: bold;
}

/* If submenu items are added, you can change the layout of the normal state here */
/* a.subNav-item {
    color: var(--lightGray);
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 20px;
} */

/* If submenu items are added, you can change the layout of the hover state here */
/* a.subNav-item:hover {
    color: var(--primary);
    cursor: pointer;
} */

/* If submenu items are added, you can change the layout of the active state here */
/* #selectedSub {
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
} */

/* The lines between the menu items */
span.menuDivider {
    display: block;
    background-color: var(--battleshipGray);
    height: 1px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

/*language switch*/
.lang-switch {
    display: flex;
    align-items: center;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.lang-switch a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lang-switch a svg {
    width: 20px;
    height: auto;
    margin-right: 4px;
}

/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Intermediate version of mobile and tablet (480px) */
@media (min-width: 480px) {
    header {
        height: 64px;
    }

    /* The hamburger menu button */
    .menuBtn {
        top: 12.5px;
        right: 26px;
    }

    /* The position and size of the logo */
    a.logo {
        margin-left: 22px;
        height: 64px;
    }
}

/* Tablet version (768px) */
@media (min-width: 768px) {
    header {
        height: 72px;
    }

    /* The hamburger menu button */
    .menuBtn {
        right: 44px;
        top: 12px;
        height: 45px;
        width: 45px;
    }

    .menuBtn > span {
        height: 4px;
    }

    .menuBtn > span:after {
        top: -10px;
        left: 20px;
        height: 4px;
    }
    
    .menuBtn > span:before {
        bottom: -10px;
        left: 20px;
        height: 4px;
    }

    /* The position and size of the logo */
    a.logo {
        margin-left: 36px;
        height: 72px;
    }

    a.logo img {
        height: 48px;
    }
}

/* Laptop version (1024px) */
@media (min-width: 1024px) {
    header {
        height: 86px;
    }

    .headerChild {
        padding-left: 56px;
        padding-right: 56px;
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    /* The hamburger menu button is removed */
    .menuBtn {
        display: none;
    }

    /* The position and size of the logo */
    a.logo {
        height: 86px;
        margin-left: 0px;
    }

    a.logo img {
        height: 52px;
    }
    /*----------------------------------------*/

    /* Main menu parts */
    .mainMenu {
        position: relative;
        height: auto;
        width: auto;
    }

    nav.mainMenu {
		opacity: 1;
        color: #000;
        transform: scale(1);
        transition: none;
    }

    .mainMenu ul.nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .mainMenu li {
        transition: none;
        opacity: 1;
        display: inline-block;
        padding: 0;
        margin-right: 28px;
    }

    .mainMenu li.lastLi {
        margin-right: 0px;
    }

    .mainMenu li:nth-child(odd) {
        transform: none;
    }
      
    .mainMenu li:nth-child(even) {
        transform: none;
    }

    /* ul.subNav {
        visibility: hidden;
        position: absolute;
    } */

    span.menuDivider {
        display: none;
    }

    .lang-switch {
        width: auto;
        margin-left: auto;
        margin-top: 0;
    }

    .lang-switch a svg {
        width: 22px;
        margin-right: 6px;
    }
}

/* Larger laptop version (1280px) */
@media (min-width: 1280PX) {
    header {
        height: 92px;
    }

    .headerChild {
        padding-left: 120px;
        padding-right: 120px;
    }

    /* The position and size of the logo */
    a.logo {
        height: 92px;
    }

    a.logo img {
        height: 56px;
    }
    /*----------------------------------------*/

    /* Main menu part */
    .mainMenu li {
        margin-right: 36px;
    }
}

/* Intermediate version of laptop and desktop (1600px) */
@media (min-width: 1600PX) {
    header {
        height: 104px;
    }

    .headerChild {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px
    }

    /* The position and size of the logo */
    a.logo {
        height: 104px;
    }

    a.logo img {
        height: 66px;
    }
    /*----------------------------------------*/

    /* Main menu parts */
    .mainMenu li {
        margin-right: 40px;
    }

    a.nav-item {
        font-size: 24px;
    }

    .lang-switch a svg {
        width: 25px;
    }
}

/* Desktop version (1920px) */
@media (min-width: 1920PX) {
    header {
        height: 120px;
    }

    .headerChild {
        max-width: 1408px;
    }

    /* The position and size of the logo */
    a.logo {
        height: 120px;
    }

    a.logo img {
        height: 78px;
    }
}