/*--------------------------------------------------------------
    In this CSS file you will find the style for the home page
---------------------------------------------------------------*/

/* Here you can import all stylesheets */
@import 'main.css';
@import 'header.css';
@import 'footer.css';

/* The area for the main content is edited here */
main {
    overflow: hidden;
}


/*--------------------------------------------------
    CSS for the Hero Section
---------------------------------------------------*/
.hero {
    padding: 2rem 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    /* text-align: center; */
}
.hero-image {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: 1rem;
}

.hero-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center center;
}


/*--------------------------------------------------
    CSS for the Services Section
---------------------------------------------------*/
.services {
    margin: 2rem 0;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
}

.service-card1, .service-card2, .service-card3 {
    background: white;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.15);
    text-align: center;
    flex-basis: 100%;
    max-width: 300px;
}

.service-icon {
    width: 48px;
    height: 48px;

    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.plane { 
    background-color: var(--primary); 
    background-image: url(../assets/icons/airplane-take-off.svg);
}

.ship { 
    background-color: var(--forestGreen);
    background-image: url(../assets/icons/cargo-ship.svg);
}

.truck { 
    background-color: var(--pumpkin);
    background-image: url(../assets/icons/semi-truck-side-view.svg);
}

.service-button a {
    display: block;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}


/*--------------------------------------------------
    CSS for the Specialisatie Section
---------------------------------------------------*/
.specialisatie {
    margin-top: 44px;
    --child-width: 100vw;
    margin-left: calc(-.5 * var(--child-width) + 50%);
    width: var(--child-width);
}

.specialisatieWave {
    background-image: url(../assets/waterBG.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;

    position: relative;
    width: 100%;
    height: 80px;
    z-index: -10;
}

.specialisatie-grid {
    background: linear-gradient(180deg, #1C59A5 50%, #FFF 100%);
    background-color: #1C59A5;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    top: -1.5rem;
}

.specialisatie-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
}

.specialisatie-text h2, .specialisatie-text p, .key-points ul li h6, .key-points ul li p {
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.key-points {
    list-style-type: disc;
    padding-left: 10%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.key-points li {
    margin-bottom: 1rem;
}


/*--------------------------------------------------
    The breaking points
---------------------------------------------------*/

/* Intermediate version of mobile and tablet (480px) */
@media (min-width: 480px) {
    
    /*----------------------------------------*/
    .service-cards {
        gap: 28px;
    }
    
    .service-icon {
        width: 56px;
        height: 56px;
        margin-bottom: 16px;
    }
    
    /*----------------------------------------*/

    
    /*----------------------------------------*/

    
}

/* Additional intermediate version of mobile and tablet (510px) */
@media (min-width: 510px) {

}

/* Tablet version (768px) */
@media (min-width: 768px) {
    .hero-content {
        flex-direction: row;
        text-align: left;
        gap: 34px;
    }
    /*----------------------------------------*/

    .service-cards {
        flex-direction: row;
        justify-content: center;
    }

    .service-card1, .service-card2, .service-card3 {
        text-align: left;
        flex-basis: 33%;
    }

    .service-icon {
        width: 66px;
        height: 66px;
        background-size: 70%;

        margin-left: 0px;
        margin-bottom: 20px;
    }
    /*----------------------------------------*/
    
    .specialisatie-grid {
        flex-direction: row;
        text-align: left;
    }
}

/* Laptop version (1024px) */
@media (min-width: 1024px) {
    .service-cards {
        gap: 40px;
    }

    .service-card1, .service-card2, .service-card3 {
        max-width: 30%;
        flex-basis: 25%;
    }

    .service-icon {
        width: 80px;
        height: 80px;
        margin-bottom: 26px;
    }
    /*----------------------------------------*/

    .specialisatie-image img {
        max-width: 500px;
    }
}

/* Larger laptop version (1280px) */
@media (min-width: 1280PX) {
    
    /*----------------------------------------*/

    .service-cards {
        gap: 48px;
    }

    .service-icon {
        width: 94px;
        height: 94px;
        margin-bottom: 32px;
    }
    
    /*----------------------------------------*/

    
    /*----------------------------------------*/

    
}

/* Intermediate version of laptop and desktop (1600px) */
@media (min-width: 1600PX) {
    
    /*----------------------------------------*/

    .service-cards {
        gap: 56px;
    }

    .service-icon {
        width: 110px;
        height: 110px;
        margin-bottom: 38px;
    }
    
    /*----------------------------------------*/

    
    /*----------------------------------------*/

   
}

/* Desktop version (1920px) */
@media (min-width: 1920PX) {
    
    /*----------------------------------------*/

    .service-cards {
        gap: 64px;
    }

    .service-icon {
        width: 128px;
        height: 128px;
        margin-bottom: 44px;
    }
    
    /*----------------------------------------*/

    
    /*----------------------------------------*/

    
}