/*------------------------------------------------------------------------------------------------------------------------
    In this CSS file you will find the basic style that is the same throughout the site (the text, the buttons, ect.)
-------------------------------------------------------------------------------------------------------------------------*/

:root {
    /* button colors */
    --primary: #1C59A5;
    --secondary: #ECECEC;

    /* status colors */
    --sucsess: #64B54F;
    --warning: #EA523C;
    
    /* other colours */
    --battleshipGray: #8f8f8f;
    --pumpkin: #F76F08;
    --forestGreen: #3B8B2A;
    --spaceCadet: #1C2849;
    --mintCream: #EDF5EB;
}

@media (prefers-color-scheme: dark){
    :root {
     /* button colors */
    --primary: #1C59A5;
    --secondary: #ECECEC;

    /* status colors */
    --sucsess: #64B54F;
    --warning: #EA523C;
    
    /* other colours */
    --battleshipGray: #8f8f8f;
    --pumpkin: #F76F08;
    --forestGreen: #3B8B2A;
    --spaceCadet: #1C2849;
    --mintCream: #EDF5EB;
    }
}

/* This will remove the default generated style */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
}

body { 
    background-color: #FFF;
    width: 100%;
    z-index: -100;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

/* For the space on the sides of the screen */
main {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------
    Website Loader
---------------------------------------------------*/
#doc-loader {
    background: var(--spaceCadet);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#loaderInner {
    background:url(../assets/images/load.gif);
    background-position: center center; 
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 240px;
    width: 200px;
}


/*--------------------------------------------------
    Font
---------------------------------------------------*/
/* Font formatting */
h1, h2, h3, h4, h5, h6{
    color: var(--spaceCadet);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p,label {
    color: var(--spaceCadet);
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*--------------------------------------------------
    The distances within the content components
---------------------------------------------------*/

/* De ruimte tussen de menubalk en de paginatitel (H1) */
h1.pageTitle {
    margin-top: 48px;
}

/* De ruimte tussen de paginatitel (H1) en de intro paragraaf (p) */
.pageIntro {
    margin-top: 32px;
}

/* Het eerste kopje (H2) binnen een pagina na de pagina intro paragraaf */
.afterIntro {
    margin-top: 40px;
}

/* De afstand tussen de paginatitel (H1) en het eerste kopje (H2) van die pagina als er geen intro tekst tussen zit */
.beginningGap {
    margin-top: 40px;
}

/* De ruimte tussen een H2 kop en paragraaftekst (p) */
.H2textGap {
    margin-top: 16px;
}

/* De ruimte tussen een H3 kop en paragraaftekst (p) */
.H3textGap {
    margin-top: 12px;
}

/* De ruimte tussen bv. paragraafteksten binnen hetzelfde informatie stukje */
.insideInfoGap {
    margin-top: 24px;
}

/* De ruimte tussen stukjes content binnen hetzelfde onderwerp */
.topicGap {
    margin-top: 48px;
}

/* De ruimte tussen stukjes content van verschillende onderwerpen */
.diffContentGap {
    margin-top: 88px;
}

/* In het geval van een achtergrondkeur (background-color) voor stukjes content over verschillende onderwerpen, dan worden de volgende classes toegepast om dit op te delen */
/* Voeg dit toe aan het bovenste element waar de ruimte tussen moet komen*/
.diffContentGapB {
    margin-top: 44px;
    padding-top: 44px;
}


/*--------------------------------------------------
    Buttons & Link
---------------------------------------------------*/
/* Here you will find general styling for the buttons */

/* Here you can edit the primary button */
button.primary {
    display: inline-block;
    position: relative;
    height: 45px;
    width: auto;
  
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  
    background-color: #1C59A5;
    background-image: radial-gradient(circle, #1C59A5 0%, #1C284900 100%);
    background-position: center center;
    background-size: 200% auto;
    transition: background-image 0.3s ease-in;
  
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  
    border: none;
    border-radius: 8px;
    padding: 4px 10px;
    margin-top: 24px;
    cursor: pointer;
}

button.primary:hover {
    background-image: radial-gradient(circle, #1C59A5 0%, #1C2849 100%);
    background-size: 150% auto;
    transform: translateY(-5px);
}

button.primary:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform opacity;
}

/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
button.primary:hover:before {
    opacity: 1;
    transform: translateY(5px);
}

/* Here you can edit the secondary button */
button.secondary {
    background-color: transparent;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    padding: 4px 10px;
    margin-top: 24px;
    border: 3px solid #808080;
    border-radius: 8px;
    cursor: pointer;
    height: 45px;
    width: 120px;
}

/* This will change the button when you hover over it */
button.secondary:hover {
    border-color: var(--primary);
    box-shadow: inset 0px 0px 10px -2px, 0px 0px 10px 2px #000;
    cursor: pointer;
}

/* Here you can edit a link */
a {
    color: var(--spaceCadet);
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
}

/* This will cause the link to change when you hover over it */
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* This will cause the link to change once you click on it */
a:visited {
    color: #1C5876;
}

.link.clicked {
    color: #1C5876;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Intermediate version of mobile and tablet (480px) */
@media (min-width: 480px) {
    body {
        background-size: 125%;
    }

    /* For the space on the sides of the screen */
    main {
        padding-left: 22px;
        padding-right: 22px;
    }
    /*----------------------------------------*/

    /* Font */
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 34px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 26px;
    }

    h6 {
        font-size: 18px;
    }
    
    p, a, label {
        font-size: 15px;
    }
    /*----------------------------------------*/

    /* The distances within the content components */
    h1.pageTitle, h1.pageTitleSub, .topicGap {
        margin-top: 56px;
    }

    .pageIntro {
        margin-top: 36px;
    }

    .afterIntro, .beginningGap {
        margin-top: 46px;
    }

    .H2textGap {
        margin-top: 20px;
    }
    
    .H3textGap {
        margin-top: 14px;
    }
    
    .insideInfoGap {
        margin-top: 28px;
    }
    
    .diffContentGap {
        margin-top: 96px;
    }
    
    .diffContentGapB {
        margin-top: 48px;
        padding-top: 48px;
    }
    /*----------------------------------------*/

    /* Button */
    .bulletButton {
        margin-top: 26px;
    }
}


/* Tablet version (768px) */
@media (min-width: 768px) {
    body {
        background-size: 115%;
    }

    /* For the space on the sides of the screen */
    main {
        padding-left: 36px;
        padding-right: 36px;
    }
    /*----------------------------------------*/

    /* Font */
    h1 {
        font-size: 46px;
    }
    
    h2 {
        font-size: 38px;
    }
    
    h3 {
        font-size: 32px;
    }
    
    h4 {
        font-size: 28px;
    }
    
    h5 {
        font-size: 22px;
    }
    
    h6 {
        font-size: 20px;
    }
    
    p, a, label {
        font-size: 16px;
    }
    /*----------------------------------------*/

    /* The distances within the content components */
    h1.pageTitle, h1.pageTitleSub, .topicGap {
        margin-top: 66px;
    }

    .pageIntro {
        margin-top: 44px;
    }

    .afterIntro, .beginningGap {
        margin-top: 56px;
    }

    .H2textGap {
        margin-top: 24px;
    }
    
    .H3textGap {
        margin-top: 16px;
    }
    
    .insideInfoGap {
        margin-top: 34px;
    }
    
    .diffContentGap {
        margin-top: 106px;
    }
    
    .diffContentGapB {
        margin-top: 53px;
        padding-top: 53px;
    }
    /*----------------------------------------*/

    /* Button */
    button.primary, button.secondary {
        font-size: 19px;
        padding: 8px 20px;
        margin-top: 35px;
        height: 55px;
    }
}

/* Laptop version (1024px) */
@media (min-width: 1024px) {
    body {
        background-size: 100%;
    }

    /* For the space on the sides of the screen */
    main {
        padding-left: 56px;
        padding-right: 56px;
    }
    /*----------------------------------------*/

    /* Font */
    h1 {
        font-size: 54px;
    }
    
    h2 {
        font-size: 44px;
    }
    
    h3 {
        font-size: 36px;
    }
    
    h4 {
        font-size: 30px;
    }
    
    h5 {
        font-size: 24px;
    }
    
    p, a, label {
        font-size: 17px;
    }
    /*----------------------------------------*/

    /* The distances within the content components */
    h1.pageTitle, .topicGap {
        margin-top: 80px;
    }

    h1.pageTitleSub {
        margin-top: 140px; 
    }

    .pageIntro {
        margin-top: 54px;
    }

    .afterIntro, .beginningGap {
        margin-top: 68px;
    }

    .H2textGap {
        margin-top: 30px;
    }
    
    .H3textGap {
        margin-top: 20px;
    }
    
    .insideInfoGap {
        margin-top: 40px;
    }
    
    .diffContentGap {
        margin-top: 120px;
    }
    
    .diffContentGapB {
        margin-top: 60px;
        padding-top: 60px;
    }
    /*----------------------------------------*/

    /* Button */
    .bulletButton {
        margin-top: 34px;
    }
}

/* Larger laptop version (1280px) */
@media (min-width: 1280PX) {
    body {
        background-size: 90%;
    }

    /* For the space on the sides of the screen */
    main {
        padding-left: 120px;
        padding-right: 120px;
    }
    /*----------------------------------------*/

    /* Font */
    h1 {
        font-size: 62px;
    }
    
    h2 {
        font-size: 50px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    h4 {
        font-size: 32px;
    }
    
    h5 {
        font-size: 26px;
    }
    
    h6 {
        font-size: 22px;
    }
    
    p, a, label {
        font-size: 18px;
    }
    /*----------------------------------------*/

    /* The distances within the content components */
    h1.pageTitle, .topicGap {
        margin-top: 94px;
    }

    h1.pageTitleSub {
        margin-top: 160px; 
    }

    .pageIntro {
        margin-top: 64px;
    }

    .afterIntro, .beginningGap {
        margin-top: 80px;
    }

    .H2textGap {
        margin-top: 36px;
    }
    
    .H3textGap {
        margin-top: 24px;
    }
    
    .insideInfoGap {
        margin-top: 48px;
    }
    
    .diffContentGap {
        margin-top: 134px;
    }
    
    .diffContentGapB {
        margin-top: 67px;
        padding-top: 67px;
    }
    /*----------------------------------------*/

    /* Button */
    .bulletButton {
        margin-top: 38px;
    }
}

/* Intermediate version of laptop and desktop (1600px) */
@media (min-width: 1600PX) {
    body {
        background-size: 80%;
    }

    /* For the space on the sides of the screen */
    main {
        padding-left: 200px;
        padding-right: 200px;
    }
    /*----------------------------------------*/

    /* Font */
    h1 {
        font-size: 72px;
    }
    
    h2 {
        font-size: 58px;
    }
    
    h3 {
        font-size: 46px;
    }
    
    h4 {
        font-size: 36px;
    }
    
    h5 {
        font-size: 28px;
    }
    /*----------------------------------------*/

    /* The distances within the content components */
    h1.pageTitle, .topicGap {
        margin-top: 110px;
    }

    h1.pageTitleSub {
        margin-top: 182px; 
    }

    .pageIntro {
        margin-top: 76px;
    }

    .afterIntro, .beginningGap {
        margin-top: 92px;
    }

    .H2textGap {
        margin-top: 42px;
    }
    
    .H3textGap {
        margin-top: 28px;
    }
    
    .insideInfoGap {
        margin-top: 56px;
    }
    
    .diffContentGap {
        margin-top: 150px;
    }
    
    .diffContentGapB {
        margin-top: 75px;
        padding-top: 75px;
    }
    /*----------------------------------------*/

    /* Button */
    .bulletButton {
        margin-top: 44px;
    }
}

/* Desktop version (1920px) */
@media (min-width: 1920PX) {
    body {
        background-size: 75%;
    }

    /* For the space on the sides of the screen */
    main {
        padding-left: 256px;
        padding-right: 256px;
    }
    /*----------------------------------------*/

    /* The distances within the content components */
    h1.pageTitle, .topicGap {
        margin-top: 128px;
    }

    .pageIntro {
        margin-top: 88px;
    }

    .afterIntro, .beginningGap {
        margin-top: 104px;
    }

    .H2textGap {
        margin-top: 48px;
    }
    
    .H3textGap {
        margin-top: 32px;
    }
    
    .insideInfoGap {
        margin-top: 64px;
    }
    
    .diffContentGap {
        margin-top: 168px;
    }
    
    .diffContentGapB {
        margin-top: 84px;
        padding-top: 84px;
    }
    /*----------------------------------------*/

    /* Button */
    .bulletButton {
        margin-top: 48px;
    }
}